**/.ipynb_checkpoints
after_adding_duration_col.csv
china telecom data.ipynb
china telecom.ipynb
cleaned_data.csv
count.csv
count1.csv
data_6.1~6.30_.xlsx
Delay-aware_Microservice_Coordination.pdf
edge computing server placement with capacitated location allocation.pdf
edge server placement in mobile edge computing.pdf
encoding telecom data.ipynb

multi obj opt problem - edge server placement.PNG
my_kmeans.py
plot_kmeans.ipynb
plot_kmeans.py
resource aware feature exytraction in mobile edge computing.pdf
superclean.csv
telecomdata.csv
ujvhbhkj.ipynb
